lucas_ising_formulations.pdf
temp/

.pytest_cache/
src/__pycache__/
src/hamiltonians/__pycache__/
src/hamiltonians/problems/__pycache__/
src/hamiltonians/utils/__pycache__/
src/hamiltonians/hamiltonian/__pycache__/
src/hamiltonians/parameter_modifiers/__pycache__/
tests/__pycache__/

.venv/
src/examples/output

# Build
*.egg-info/
*.egg
.eggs/
build/
dist/
pip-wheel-metadata/
.wheels/

.DS_Store
.idea/